{{=<% %>=}}

<div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Jitsi Meet</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <%#is_desktop%>
                {{ 'plugin.mod_jitsi.desktopaccessinfo' | translate }}
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <button ion-button block core-link color="light" href="https://<%jitsi_domain%>/<%room%><%jwt%>#jitsi_meet_external_api_id=0&<%config%>&<%interface_config%>">
                                {{ 'plugin.mod_jitsi.buttonopeninbrowser' | translate }}
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            <%/is_desktop%>

            <%^is_desktop%>
                {{ 'plugin.mod_jitsi.appaccessinfo' | translate }}
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            {{ 'plugin.mod_jitsi.appinstalledtext' | translate }}
                            <button ion-button block core-link color="light" href="org.jitsi.meet://<%jitsi_domain%>/<%room%><%jwt%>#jitsi_meet_external_api_id=0&<%config%>&<%interface_config%>">
                                {{ 'plugin.mod_jitsi.buttonopenwithapp' | translate }}
                            </button>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-row>
                        <ion-col size="12">
                            {{ 'plugin.mod_jitsi.appnotinstalledtext' | translate }}
                            <%#is_ios%>
                                <button ion-button block core-link color="light" href="https://itunes.apple.com/us/app/jitsi-meet/id1165103905">
                                    {{ 'plugin.mod_jitsi.buttondownloadapp' | translate }}
                                </button>
                            <%/is_ios%>
                            <%^is_ios%>
                                <button ion-button block core-link color="light" href="https://play.google.com/store/apps/details?id=org.jitsi.meet">
                                    {{ 'plugin.mod_jitsi.buttondownloadapp' | translate }}
                                </button>
                            <%/is_ios%>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <button ion-button block core-link color="light" href="https://<%jitsi_domain%>/<%room%><%jwt%>#jitsi_meet_external_api_id=0&<%config%>&<%interface_config%>">
                                {{ 'plugin.mod_jitsi.buttonopeninbrowser' | translate }}
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            <%/is_desktop%>
        </ion-card-content>
        </ion-card>

</div>
